## Map

In [19]:
import math

In [23]:
def area(r):
    return math.pi * (r**2)

In [24]:
radius = [2, 5, 7.1, 0.3, 10]

The "classic" approach:

In [25]:
areas=[]
for i in radii:
    areas.append(area(i))
print(areas)

[12.566370614359172, 78.53981633974483, 158.36768566746147, 0.2827433388230814, 314.1592653589793]

The "pythonic" approach, using map():

In [34]:
x=list(map(area, radii))
print(x)

[12.566370614359172, 78.53981633974483, 158.36768566746147, 0.2827433388230814, 314.1592653589793]

## Filter

In [39]:
import statistics

data = [1.5, 9.2, 3.4, 5.1, -9,4]

avg = statistics.mean(data)
avg

2.3666666666666663

The classic approach:

In [40]:
def above_avg(avg, number):
    if number <= avg:
        return False
    else:
        return True

In [43]:
above_avg(avg=avg, number =2)

False

The "pythonic" approach, using filter():

In [54]:
def above_avg(i):
    return i>avg


list(filter(above_avg, data))

[9.2, 3.4, 5.1, 4]

In [49]:
above_avg(4)

True

## Reduce

In [11]:
from functools import reduce

In [77]:
names = ["Serjio", "Flo", "Raafat", "Filiz"]

In [62]:
list(reduce(computing_func, names))

#["Serjio 12","Flo 12", "Raafat 12", "Filiz 12"]

['Serjio 12', 'Flo 12', 'Raafat 12', 'Filiz 12']

In [16]:
numbers = [1,2,3,4,5]

Alternative approaches:

In [17]:
s = ""
for e in names:
    s += e + " "
print(s)

Serjio Flo Raafat Filiz

In [18]:
concatenated=""
for i in names:
    concatenated=concatenated + i + " "
concatenated

'Serjio Flo Raafat Filiz '

In [75]:
numbers=[10,100,1000]
list(reduce(computing_func,numbers))

##11 + (100 +10) +(1000 +100)
#1221

TypeError: 'float' object is not iterable

In [76]:
def concatenator(x,y):
    return x + " " + y

In [79]:
list(reduce(concatenator,names))

['S',
 'e',
 'r',
 'j',
 'i',
 'o',
 ' ',
 'F',
 'l',
 'o',
 ' ',
 'R',
 'a',
 'a',
 'f',
 'a',
 't',
 ' ',
 'F',
 'i',
 'l',
 'i',
 'z']